{% extends 'base.html.twig'%}
{% block body %}
    <h1>Bienvenue sur la page twig</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam optio officia nesciunt doloremque ut, et similique autem. Reiciendis cum vero possimus cupiditate voluptas, labore molestiae, dignissimos adipisci voluptatibus enim cumque!</p>
{% endblock %}